* {
  margin: 0px;
}
html {
  height: 100%;
  width: 100%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  background-color: white;
  content-visibility: auto;
}
/* Навигация */
#btnbox {
  border-bottom: solid gray 1px;
  display: flex;
  justify-content: center;
  height: 35px;
}
#btnbox button {
  border: none;
  padding: 10px 15px;
  background-color: white;
  overflow: hidden;
}
#btnbox button:hover {
  background-color: lightgray;
}
/* Лента запросов/ответов */
.feed {
  list-style-type: none;
  padding: 0px;
  overflow-y: auto;
}
#msg-feed {
  height: calc(100% - 90px);
}
.msg-bot,
.msg-usr {
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px;
  max-width: 60%;
  width: fit-content;
  margin-bottom: 8px;
}
.msg-bot {
  background-color: lightgray;
  margin-left: 10px;
  margin-right: auto;
}
.msg-usr {
  background-color: lightgreen;
  margin-left: auto;
  margin-right: 10px;
}
/* Ввод запроса */
textarea {
  resize: none;
  box-sizing: border-box;
  border-width: 1px;
  overflow-y: auto;
  height: 50px;
}
#input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#input textarea {
  width: calc(100% - 45px);
}
#input button {
  border: none;
  padding: 0px;
  height: 22px;
  width: 20px;
  background-color: white;
}
button > svg {
  height: inherit;
  width: inherit;
}
/* Поиск документа */
#search {
  margin: 0px 5px;
  width: calc(100% - 40px);
}
#srch-btn {
  position: fixed;
  top: 36px;
  right: 5px;
  border: none;
  padding: 0px;
  height: 25px;
  width: 25px;
  background-color: white;
}
#srch-btn:hover {
  background-color: lightgray;
}
/* Список документов */
#doc-feed {
  max-height: calc(100% - 115px);
  margin-bottom: 4px;
}
#doc-feed li {
  padding: 5px 0px;
  border-bottom: solid gray 1px;
}
#open-btn {
  max-height: 50px;
  width: calc(100% - 90px);
  margin-right: 5px;
  overflow-y: hidden;
  border: none;
  background: none;
  text-align: left;
}
#open-btn:hover {
  background-color: lightgray;
}
/* Навигация по страницам списка документов */
#pg-box {
  display: flex;
  justify-content: center;
  height: 25px;
}
/* Поля ввода данных документа */
#addDoc input[type="text"],
#addDoc input[type="file"] {
  margin-bottom: 15px;
}
#addDoc input[type="text"] {
  width: 90%;
}
/* Адаптация под широкие экраны */
@media screen and (min-width: 750px) {
  body {
    background-color: lightgray;
  }
  #app {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
  }
}
