* {
  margin: 0px;
}
html {
  height: 100%;
  width: 100%;
}
.inheight {
  height: inherit;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  background-color: white;
  content-visibility: auto;
}

#btnbox {
  border-bottom: solid gray 1px;
  display: flex;
  justify-content: center;
  height: 35px;
}
#btnbox button {
  border: none;
  padding: 10px 15px;
  background-color: white;
  overflow: hidden;
}
#btnbox button:hover {
  background-color: lightgray;
}

.feed {
  list-style-type: none;
  padding: 0px;
  overflow-y: auto;
}
#msg-feed {
  height: calc(100% - 90px);
}
.msg-bot,
.msg-usr {
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px;
  max-width: 60%;
  width: fit-content;
  margin-bottom: 8px;
}
.msg-bot {
  background-color: lightgray;
  margin-left: 10px;
  margin-right: auto;
}
.msg-usr {
  background-color: lightgreen;
  margin-left: auto;
  margin-right: 10px;
}

textarea {
  resize: none;
  box-sizing: border-box;
  border-width: 1px;
  overflow-y: auto;
}
#inp-qry {
  position: fixed;
  bottom: 0px;
  left: 10px;
  height: 50px;
  width: calc(100% - 45px);
}
#qry-btn {
  position: fixed;
  bottom: 14px;
  right: 10px;
  border: none;
  padding: 0px;
  height: 22px;
  width: 20px;
  background-color: white;
}
button > svg {
  height: inherit;
  width: inherit;
}

#search {
  margin: 0px 5px;
  height: 50px;
  width: calc(100% - 40px);
}
#srch-btn {
  position: fixed;
  top: 36px;
  right: 5px;
  border: none;
  padding: 0px;
  height: 25px;
  width: 25px;
  background-color: white;
}
#srch-btn:hover {
  background-color: lightgray;
}

#doc-feed {
  max-height: calc(100% - 115px);
  margin-bottom: 4px;
}
#doc-feed li {
  padding: 5px 0px;
  border-bottom: solid gray 1px;
}
#open-btn {
  max-height: 50px;
  width: calc(100% - 85px);
  overflow-y: hidden;
  border: none;
  background: none;
  text-align: left;
}
#open-btn:hover {
  background-color: lightgray;
}

#pg-box {
  display: flex;
  justify-content: center;
  height: 25px;
}

#addDoc input[type="text"],
#addDoc input[type="file"] {
  margin-bottom: 15px;
}
#addDoc input[type="text"] {
  width: 90%;
}

@media screen and (min-width: 750px) {
  body {
    background-color: lightgray;
  }
  #app {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
  }
}
@media screen and (max-width: 360px) {
  #btnbox button {
    padding-left: 0px;
    padding-right: 0px;
  }
}
